*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 00;
    font-size: xx-large;
    font-variant: inherit;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
    background-image: src="img/vente.jpg";
}
.header-info{
    
    height: 70px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    color: #0e0c0c;
    
}

.header-info-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    
}


.logo{
    
    width: 100px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0%;
    display: inline-flex;
}
span{
    color:#bb1f1f ;
}
.hero{
    height: 85vh;
    width: 100%;
    
    background-size:cover;
    background-position: center;
    background-position-y: -110px;
    background-position-x: 10;
}
nav{
    width:100%;
    overflow:auto;
    
}
ul{
    padding: 0;
    margin:0 0 0 250px;
    list-style: none;
}

li{
    float: left;
    
}
li a{
    
    width: 230px;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    font-family: arial;
    text-align: center;
    color: #0e0c0c;
    font-size: large;
}
li a:hover{
    background:#ff1414e3;
    text-transform: uppercase;
}
.heading{
    position: absolute;
    width: 90%;
    color: #F2F2F2;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    margin-top: 78vh;
    height:60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #0e0c0c;
    color: #F2F2F2;
  }